
{% load static %}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
    <div class="container">
        <div class="row g-2">
            <div class="col-lg-2 col-md-4">
                <h4 class="text-light mb-4">Head Office</h4>
                <p class="mb-2" style="text-align: justify"><i class="fa fa-map-marker-alt me-3"></i>No. 39, 40 Milan Complex behind Hotel Sagar, Sanand cross-road, Sarkhej, Ahmedabad, Gujarat 382210</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 9725376886</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@mahisagarpackersandmovers.com</p>
            </div>
            <div class="col-lg-10 col-md-8">
                <h4 class="text-light mb-4">Search By Location</h4>
                <div class="row">
                    {% for page in pages_url %}
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <a class="btn btn-link" href="{% url 'city_pages' page.city %}">{{ page.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; MAHISAGAR PACKERS AND MOVERS, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    Designed By <a class="border-bottom" href="https://ifleetify.com">iFleetify Technologies</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
